.overflow-hidden {
  overflow: hidden !important;
}

.overlay {
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 33, 65, 0.43);
  transition: opacity 1s ease, width 0.2s ease 1s;
  pointer-events: none;
}

@media (max-width: 991.98px) {
  .overflow-hidden .overlay {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 1;
    pointer-events: initial;
  }

  main {
    transition: 0.8s filter ease;
  }
  .overflow-hidden main {
    filter: blur(8px);
  }
}

@media (max-width: 991.98px) {
  main {
    transition: 0.8s filter ease;
  }
  .overflow-hidden main {
    filter: blur(8px);
  }
}

@media (min-width: 992px) {
  #cursorMask {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 42px;
    width: 42px;
    pointer-events: none;
    z-index: 300;
    /* background: url('/imgs/mouse_popcorn.svg') center no-repeat;
    background-size: contain; */
    will-change: transform;
    transition: transform 0.2s ease-out, border-color 0.3s ease;
  }
  #cursorMask.active {
    display: flex;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 176px;
  height: 50px;
  padding: 20px;
  background: linear-gradient(90deg, #710101 0%, #ff0000 51.04%, #710101 100%);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 992px) {
  .btn {
    height: 60px;
    font-size: 20px;
    min-width: 203px;
  }

  .btn:hover {
    color: #ddca21;
    border-color: #ddca21;
  }
}

/**basic**/
.basic {
  padding: 140px 0 50px;
  background: linear-gradient(
    241.53deg,
    #570000 0%,
    #000000 50.06%,
    #570000 100%
  );
  background-attachment: fixed;
}

.basic h1,
.basic h2,
.basic p {
  text-align: center;
}

.basic h1 {
  font-family: "Righteous", cursive;
  font-size: 40px;
  font-weight: 400;
  line-height: 53px;
  margin-bottom: 20px;
}

.basic h2 {
  font-size: 35px;
  font-weight: 400;
  line-height: 53px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.basic p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}

.basic p + p {
  margin-top: 4px;
}

.basic a {
  display: inline-block;
}

@media (max-width: 991.98px) {
  .titlewithimg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titlewithimg img {
    width: 25px;
    margin-top: 15px;
  }
}

@media (min-width: 992px) {
  .basic {
    padding: 180px 0 85px;
  }

  .basic h1,
  .basic h2,
  .basic p {
    text-align: left;
  }

  .basic h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 30px;
  }

  .basic h2 {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 30px;
    margin-top: 70px;
  }

  .titlewithimg {
    display: inline-flex;
    position: relative;
  }

  .titlewithimg img {
    position: absolute;
    left: calc(100% + 26px);
    top: 50%;
    transform: translateY(-50%);
  }

  .basic p {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
  }
  .basic p + p {
    margin-top: 8px;
  }
}
