.meet {
  padding-top: 16px;
}

.meet h2 {
  margin-bottom: 30px;
}

.meet_body {
  width: 100%;
  max-width: 424px;
  margin: 0 auto;
  padding: 25px;
  position: relative;
}

.meet_body .left,
.meet_body .right {
  height: calc(100% - 50px);
  width: 25px;
  position: absolute;
  left: 0;
  top: 25px;
  background: url(../imgs/meet/part_h.jpg) center;
  background-position-y: top;
  background-size: 24px;
  border-left: 1px solid #f90000;
  border-right: 1px solid #f90000;
}

.meet_body .top,
.meet_body .bottom {
  width: 100%;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../imgs/meet/part_v.png) center;
  background-size: 20px;
  border: 1px solid #f90000;
}

.meet_body .right {
  left: auto;
  right: 0;
}

.meet_body .bottom {
  top: auto;
  bottom: 0;
}

.meet_card {
  /* height: 684px; */
  background: #000000;
}

.meet_card_img {
  background: #0c385b;
  height: 380px;
  width: 100%;
  overflow: hidden;
}
.meet_card_img img {
  width: 100%;
  margin-top: -16px;
}
.meet_card:first-of-type .meet_card_img {
  background: #22457b;
}
.meet_card:last-of-type .meet_card_img {
  background: #440e62;
}

.meet_card_body {
  min-height: 304px;
  padding: 20px;
}

.meet_card h3 {
  font-family: "Righteous", cursive;
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: 25px;
  margin-bottom: 5px;
}

.meet_card h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #fd8d6a;
  margin-bottom: 14px;
}

.meet_card p {
  text-align: center;
  line-height: 22px;
  letter-spacing: normal;
}

@media (min-width: 992px) {
  .meet_body {
    display: flex;
    max-width: 1226px;
    margin: 0 auto;
  }

  .meet_card {
    width: 33.33%;
  }
}

@media (min-width: 1920px) {
  .meet_body {
    display: flex;
    max-width: 1920px;
  }

  .meet_card {
    display: flex;
    overflow: hidden;
  }

  .meet_card:first-of-type {
    width: calc(33.33% - 6.66px);
  }

  .meet_card + .meet_card {
    border-left: 10px solid #e57c5e;
    width: calc(33.33% + 3.33px);
  }

  .meet_card_img {
    height: 100%;
    width: 310px;
    flex: none;
    margin-top: unset;
    margin-bottom: -20px;
  }

  .meet_card_img img {
    margin-top: unset;
    transform: translateY(12px);
  }

  .meet_card_body h3,
  .meet_card_body h4,
  .meet_card_body p {
    text-align: left;
  }
}
