/****bootstrap grid*****/
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container_inner {
    margin: 0 auto;
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container_inner {
    max-width: 800px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}

.textCenter {
  text-align: center;
}

/****padding****/
.pt-0 {
  padding-top: 0;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-70 {
  padding-top: 70px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-90 {
  padding-top: 90px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-110 {
  padding-top: 110px;
}
.pt-120 {
  padding-top: 120px;
}
.pt-130 {
  padding-top: 130px;
}
.pt-140 {
  padding-top: 140px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-160 {
  padding-top: 160px;
}
.pt-170 {
  padding-top: 170px;
}
.pt-180 {
  padding-top: 180px;
}
.pt-190 {
  padding-top: 190px;
}
.pt-200 {
  padding-top: 200px;
}
.pt-210 {
  padding-top: 210px;
}
.pt-220 {
  padding-top: 220px;
}
.pt-230 {
  padding-top: 230px;
}
.pt-240 {
  padding-top: 240px;
}
.pt-250 {
  padding-top: 250px;
}
.pt-260 {
  padding-top: 260px;
}
.pt-270 {
  padding-top: 270px;
}
.pt-280 {
  padding-top: 280px;
}
.pt-290 {
  padding-top: 290px;
}
.pt-300 {
  padding-top: 300px;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pb-110 {
  padding-bottom: 110px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-130 {
  padding-bottom: 130px;
}
.pb-140 {
  padding-bottom: 140px;
}
.pb-150 {
  padding-bottom: 150px;
}
.pb-160 {
  padding-bottom: 160px;
}
.pb-170 {
  padding-bottom: 170px;
}
.pb-180 {
  padding-bottom: 180px;
}
.pb-190 {
  padding-bottom: 190px;
}
.pb-200 {
  padding-bottom: 200px;
}
.pb-210 {
  padding-bottom: 210px;
}
.pb-220 {
  padding-bottom: 220px;
}
.pb-230 {
  padding-bottom: 230px;
}
.pb-240 {
  padding-bottom: 240px;
}
.pb-250 {
  padding-bottom: 250px;
}
.pb-260 {
  padding-bottom: 260px;
}
.pb-270 {
  padding-bottom: 270px;
}
.pb-280 {
  padding-bottom: 280px;
}
.pb-290 {
  padding-bottom: 290px;
}
.pb-300 {
  padding-bottom: 300px;
}

.mt-0 {
  margin-top: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-110 {
  margin-top: 110px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-130 {
  margin-top: 130px;
}
.mt-140 {
  margin-top: 140px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-160 {
  margin-top: 160px;
}
.mt-170 {
  margin-top: 170px;
}
.mt-180 {
  margin-top: 180px;
}
.mt-190 {
  margin-top: 190px;
}
.mt-200 {
  margin-top: 200px;
}
.mt-210 {
  margin-top: 210px;
}
.mt-220 {
  margin-top: 220px;
}
.mt-230 {
  margin-top: 230px;
}
.mt-240 {
  margin-top: 240px;
}
.mt-250 {
  margin-top: 250px;
}
.mt-260 {
  margin-top: 260px;
}
.mt-270 {
  margin-top: 270px;
}
.mt-280 {
  margin-top: 280px;
}
.mt-290 {
  margin-top: 290px;
}
.mt-300 {
  margin-top: 300px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-110 {
  margin-bottom: 110px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-130 {
  margin-bottom: 130px;
}
.mb-140 {
  margin-bottom: 140px;
}
.mb-150 {
  margin-bottom: 150px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-170 {
  margin-bottom: 170px;
}
.mb-180 {
  margin-bottom: 180px;
}
.mb-190 {
  margin-bottom: 190px;
}
.mb-200 {
  margin-bottom: 200px;
}
.mb-210 {
  margin-bottom: 210px;
}
.mb-220 {
  margin-bottom: 220px;
}
.mb-230 {
  margin-bottom: 230px;
}
.mb-240 {
  margin-bottom: 240px;
}
.mb-250 {
  margin-bottom: 250px;
}
.mb-260 {
  margin-bottom: 260px;
}
.mb-270 {
  margin-bottom: 270px;
}
.mb-280 {
  margin-bottom: 280px;
}
.mb-290 {
  margin-bottom: 290px;
}
.mb-300 {
  margin-bottom: 300px;
}

@media (min-width: 992px) {
  .pt-l-10 {
    padding-top: 10px;
  }
  .pt-l-20 {
    padding-top: 20px;
  }
  .pt-l-30 {
    padding-top: 30px;
  }
  .pt-l-40 {
    padding-top: 40px;
  }
  .pt-l-50 {
    padding-top: 50px;
  }
  .pt-l-60 {
    padding-top: 60px;
  }
  .pt-l-70 {
    padding-top: 70px;
  }
  .pt-l-80 {
    padding-top: 80px;
  }
  .pt-l-90 {
    padding-top: 90px;
  }
  .pt-l-100 {
    padding-top: 100px;
  }
  .pt-l-110 {
    padding-top: 110px;
  }
  .pt-l-120 {
    padding-top: 120px;
  }
  .pt-l-130 {
    padding-top: 130px;
  }
  .pt-l-140 {
    padding-top: 140px;
  }
  .pt-l-150 {
    padding-top: 150px;
  }
  .pt-l-160 {
    padding-top: 160px;
  }
  .pt-l-170 {
    padding-top: 170px;
  }
  .pt-l-180 {
    padding-top: 180px;
  }
  .pt-l-190 {
    padding-top: 190px;
  }
  .pt-l-200 {
    padding-top: 200px;
  }
  .pt-l-210 {
    padding-top: 210px;
  }
  .pt-l-220 {
    padding-top: 220px;
  }
  .pt-l-230 {
    padding-top: 230px;
  }
  .pt-l-240 {
    padding-top: 240px;
  }
  .pt-l-250 {
    padding-top: 250px;
  }
  .pt-l-260 {
    padding-top: 260px;
  }
  .pt-l-270 {
    padding-top: 270px;
  }
  .pt-l-280 {
    padding-top: 280px;
  }
  .pt-l-290 {
    padding-top: 290px;
  }
  .pt-l-300 {
    padding-top: 300px;
  }

  .pb-l-10 {
    padding-bottom: 10px;
  }
  .pb-l-20 {
    padding-bottom: 20px;
  }
  .pb-l-30 {
    padding-bottom: 30px;
  }
  .pb-l-40 {
    padding-bottom: 40px;
  }
  .pb-l-50 {
    padding-bottom: 50px;
  }
  .pb-l-60 {
    padding-bottom: 60px;
  }
  .pb-l-70 {
    padding-bottom: 70px;
  }
  .pb-l-80 {
    padding-bottom: 80px;
  }
  .pb-l-90 {
    padding-bottom: 90px;
  }
  .pb-l-100 {
    padding-bottom: 100px;
  }
  .pb-l-110 {
    padding-bottom: 110px;
  }
  .pb-l-120 {
    padding-bottom: 120px;
  }
  .pb-l-130 {
    padding-bottom: 130px;
  }
  .pb-l-140 {
    padding-bottom: 140px;
  }
  .pb-l-150 {
    padding-bottom: 150px;
  }
  .pb-l-160 {
    padding-bottom: 160px;
  }
  .pb-l-170 {
    padding-bottom: 170px;
  }
  .pb-l-180 {
    padding-bottom: 180px;
  }
  .pb-l-190 {
    padding-bottom: 190px;
  }
  .pb-l-200 {
    padding-bottom: 200px;
  }
  .pb-l-210 {
    padding-bottom: 210px;
  }
  .pb-l-220 {
    padding-bottom: 220px;
  }
  .pb-l-230 {
    padding-bottom: 230px;
  }
  .pb-l-240 {
    padding-bottom: 240px;
  }
  .pb-l-250 {
    padding-bottom: 250px;
  }
  .pb-l-260 {
    padding-bottom: 260px;
  }
  .pb-l-270 {
    padding-bottom: 270px;
  }
  .pb-l-280 {
    padding-bottom: 280px;
  }
  .pb-l-290 {
    padding-bottom: 290px;
  }
  .pb-l-300 {
    padding-bottom: 300px;
  }

  .mt-l-10 {
    margin-top: 10px;
  }
  .mt-l-20 {
    margin-top: 20px;
  }
  .mt-l-30 {
    margin-top: 30px;
  }
  .mt-l-40 {
    margin-top: 40px;
  }
  .mt-l-50 {
    margin-top: 50px;
  }
  .mt-l-60 {
    margin-top: 60px;
  }
  .mt-l-70 {
    margin-top: 70px;
  }
  .mt-l-80 {
    margin-top: 80px;
  }
  .mt-l-90 {
    margin-top: 90px;
  }
  .mt-l-100 {
    margin-top: 100px;
  }
  .mt-l-110 {
    margin-top: 110px;
  }
  .mt-l-120 {
    margin-top: 120px;
  }
  .mt-l-130 {
    margin-top: 130px;
  }
  .mt-l-140 {
    margin-top: 140px;
  }
  .mt-l-150 {
    margin-top: 150px;
  }
  .mt-l-160 {
    margin-top: 160px;
  }
  .mt-l-170 {
    margin-top: 170px;
  }
  .mt-l-180 {
    margin-top: 180px;
  }
  .mt-l-190 {
    margin-top: 190px;
  }
  .mt-l-200 {
    margin-top: 200px;
  }
  .mt-l-210 {
    margin-top: 210px;
  }
  .mt-l-220 {
    margin-top: 220px;
  }
  .mt-l-230 {
    margin-top: 230px;
  }
  .mt-l-240 {
    margin-top: 240px;
  }
  .mt-l-250 {
    margin-top: 250px;
  }
  .mt-l-260 {
    margin-top: 260px;
  }
  .mt-l-270 {
    margin-top: 270px;
  }
  .mt-l-280 {
    margin-top: 280px;
  }
  .mt-l-290 {
    margin-top: 290px;
  }
  .mt-l-300 {
    margin-top: 300px;
  }

  .mb-l-10 {
    margin-bottom: 10px;
  }
  .mb-l-20 {
    margin-bottom: 20px;
  }
  .mb-l-30 {
    margin-bottom: 30px;
  }
  .mb-l-40 {
    margin-bottom: 40px;
  }
  .mb-l-50 {
    margin-bottom: 50px;
  }
  .mb-l-60 {
    margin-bottom: 60px;
  }
  .mb-l-70 {
    margin-bottom: 70px;
  }
  .mb-l-80 {
    margin-bottom: 80px;
  }
  .mb-l-90 {
    margin-bottom: 90px;
  }
  .mb-l-100 {
    margin-bottom: 100px;
  }
  .mb-l-110 {
    margin-bottom: 110px;
  }
  .mb-l-120 {
    margin-bottom: 120px;
  }
  .mb-l-130 {
    margin-bottom: 130px;
  }
  .mb-l-140 {
    margin-bottom: 140px;
  }
  .mb-l-150 {
    margin-bottom: 150px;
  }
  .mb-l-160 {
    margin-bottom: 160px;
  }
  .mb-l-170 {
    margin-bottom: 170px;
  }
  .mb-l-180 {
    margin-bottom: 180px;
  }
  .mb-l-190 {
    margin-bottom: 190px;
  }
  .mb-l-200 {
    margin-bottom: 200px;
  }
  .mb-l-210 {
    margin-bottom: 210px;
  }
  .mb-l-220 {
    margin-bottom: 220px;
  }
  .mb-l-230 {
    margin-bottom: 230px;
  }
  .mb-l-240 {
    margin-bottom: 240px;
  }
  .mb-l-250 {
    margin-bottom: 250px;
  }
  .mb-l-260 {
    margin-bottom: 260px;
  }
  .mb-l-270 {
    margin-bottom: 270px;
  }
  .mb-l-280 {
    margin-bottom: 280px;
  }
  .mb-l-290 {
    margin-bottom: 290px;
  }
  .mb-l-300 {
    margin-bottom: 300px;
  }
}
